body {
  margin: 0;
}
.main-container{
  align-items: center;
  width: auto;
}
.header h1{
  text-align: center;
}
.user-input{
  display:flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.user-input label{
  text-align: center;
}

.mode-selectors{
  gap: 4px;
  display: flex;
}

.mode-selectors > div{
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.mode-selectors label{
  user-select: none;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 4px 8px;
  display: block;
  text-align: center;
}

.mode-selectors label:hover{
  transition: all 0.33s;
  background-color: hsl(212, 100%, 90%);
}
.mode-selectors input:checked ~ label{
  transition: all 0.33s;
  color: white;
  border-color: transparent;
  background-color: #0075ff;
}
#colSelect{
  display: block;
  background-color: #0075ff;
  border: 2px solid black;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 4rem;
}

.invisible {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.grid-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.grid-size input {
  display: block;
  font-size: 1rem;
  width: auto;
  height: 2rem;
  text-align: center;
}

div .etch-container{
  display: flex;
  justify-content: center;
}
#etch-a-sketch{
  display: flex;
  width: fit-content;
  padding: 1rem;
  background-color: rgb(150, 150, 150);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center; 
}
#etch-a-sketch .row {
  background-color: white;
  border: 2px solid black;
  margin: -1px;
  aspect-ratio: 1 / 1;
  width: 2rem;
  transition-timing-function: ease-out;
  transition: background-color 0.1s;
}
