.header h1{
  text-align: center;
}
.user-input{
  display:flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#etch-a-sketch{
  padding: 1rem;
  background-color: rgb(150, 150, 150);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center; 
}
#etch-a-sketch .row {
  background-color: white;
  border: 2px solid black;
  margin: -1px;
  aspect-ratio: 1 / 1;
  width: 2rem;
  transition-timing-function: ease-out;
  transition: background-color 0.1s;
}

/*
#etch-a-sketch > div > div{
  flex: 1 1 auto;
  border: 3px solid black;
  border-radius: 0.5rem;
  margin: 1px;;
  width: 3rem;
  height: auto;
  aspect-ratio: 1 / 1;
}*/